---
import { parse } from 'yaml';
import teachingYaml from '../data/teaching.yaml?raw';

const teachingData = parse(teachingYaml);
---

<dt><i>Teaching</i> 🏛</dt>

<dd>
  <ul>
    {teachingData.map((school, index) => (
      <li class={index > 0 ? 'mt' : ''}>
        <h2 class="institution">{school.institution} <span class="detail" style="font-size: 0.8em; font-weight: normal; color: black;">{school.location}</span></h2>
        <div style="margin-left: 0;">
          <strong>{school.department}</strong>
          {school.courses.map((course) => (
            <div class="description" style="margin-left: 2em; position: relative;">
              <em>{course.code}</em>: {course.title}<span class="side">{course.period}</span>
            </div>
          ))}
        </div>
      </li>
    ))}
  </ul>
</dd>
